{% extends 'base.html.twig' %}

{# {% block title %}Hello RecipeController!{% endblock %} #}
{% block title %}{{ slug }}{% endblock %}

{% block body %}
<h3>Bienvenue sur ma page SHOW {{id}}</h3>
<p>Comment faire 1 {{slug}}</p>
{% endblock %}
